[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"

[[headers]]
  for = "/*"
  [headers.values]
    X-Frame-Options = "DENY"
    X-XSS-Protection = "1; mode=block"
    X-Content-Type-Options = "nosniff"

[[redirects]]
  from = "/ga/js"
  to = "https://www.googletagmanager.com/gtag/js?id=G-01XHTZ2N2E"
  status = 200
  force = true

[[redirects]]
  from = "/ga/collect/*"
  to = "https://www.google-analytics.com/g/collect/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/404.html"
  status = 404
